<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.drdsclient.mapper.DRDSClientMapper">

    <select id="selectInfo" resultType="com.h3c.drdsclient.entity.testBO">
        SELECT
            id,
            name
        FROM versiontrain_table;
    </select>

    <insert id="insertInfo" >
        INSERT INTO  versiontrain_table (
            name
        ) VALUES (
            #{name,jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteInfo">
        DELETE FROM versiontrain_table WHERE id = #{id}
    </delete>

    <update id="updateInfo" >
    UPDATE  versiontrain_table
        SET
            name = #{newName}
        WHERE id = #{id}
    </update>

</mapper>
