<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.drdsclient.mapper.DRDSClientMapper">

    <insert id="insertInfo" >
        INSERT INTO  versiontrain_table (
            name
        ) VALUES (
            #{name,jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteInfo">
        DELETE FROM versiontrain_table WHERE name = #{name}
    </delete>

    <update id="updateInfo" >
    UPDATE  versiontrain_table
        SET
            name = #{newName,jdbcType=VARCHAR}
        WHERE name = #{oldName,jdbcType=VARCHAR}
    </update>

</mapper>
